/**
 * @ie6.css
 * Styles if IE6 for Acta Theme.
 */
#search .form-text {
  background-color: #eeeeee;
  border: 0;
  font-family: monospace;
  font-size: 16px;
  line-height: 24px;
  height: 24px;
  padding: 10px;
  width: 220px;
}

#search .form-submit {
  background-color: #808080;
  background-image: none;
  border: 0;
  color: #ffffff;
  cursor: pointer;
  float: right;
  font-family: Georgia, "Adobe Garamond Pro", "Apple Garamond", "ITC Garamond", "Times New Roman", Times, serif;
  font-size: 16px;
  height: 44px;
  line-height: 24px;
  padding: 5px 10px;
  text-decoration: none;
  text-indent: 0;
  width: 80px;
}
